@media screen and (min-width: 768px) {
  .menu--account ul li a:before {
    border-bottom: 3px solid #333333;
  }

  .menu--account ul li .dropdown-menu li:hover {
    background: #333333;
  }
}

.form-check-input:checked,
.form-checkbox:checked {
  background: #333333;
  border: 1px solid #333333;
}

.card .card-footer .explore a {
  color: #333333;
}

.card .card-footer a {
  color: #333333;
}

.menu--admin-sidebar .nav li a.active,
.content-list .content-list-title {
  color: #333333;
}

.product-dashboard-navigation-main ul li a.active {
  color: #333333;
}

/*login etc having button class*/
.developer-app-add-for-developer-form button[type=submit],
.node--type-forum button[type=submit],
.node-forum-form button[type=submit],
.node-issue-form button[type=submit],
.page-user-login .form-submit,
.page-user-password .form-submit,
.page-user-register .form-submit,
.button:hover,
.button {
  background: #333333;
  border: 1px solid #333333;
}


.block-dashboard-navigation-block .dashboard-children li a.active {
  color: #333333;
}

.view-forum .views-field-nothing .tags ul li {
  border: 1px solid #333333;
  color: #333333;
}

#views-exposed-form-media-library-page-1 ul li a.bef-link--selected,
.page-view-media-library .tabs .nav-tabs .nav-item .nav-link.active,
.page-view-products-listing-page .tabs .nav-tabs .nav-item .nav-link.active {
  border-bottom: 2px solid #333;
}


.d-notification .notification-icon,
.content-cards-centered .card .card-title,
.top-trend svg,
.slidecta svg {
  color: #333333;
}

.btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
}

.slick-slider .slick-dots li.slick-active button,
.notification-icon:after {
  background: #333333;
}

.page-view-media-library .tabs .nav-tabs .nav-item .nav-link:hover,
.page-view-products-listing-page .tabs .nav-tabs .nav-item .nav-link:hover {
  border-bottom: 2px solid #333333;
}
.featured-bottom,
.content-list-inner-wrap,
.slider-background,
.content-cards-centered-wrapper {
  background: #eaf1ff;
}

.dropdown-menu.notify-drop .drop-content li a,
.d-notification i::before,
.region-featured-bottom-first .block-action-content-block .btn-subscribe {
  color: #333333 !important;
}

.views-field-field-blog-tags .btn-outline-secondary:hover {
  background: #6c757d;
}

.view-forum .views-field-nothing .like_dislike .count {
  color: #6a6a6a;
}

.block-views-exposed-filter-blockblog-block-all-blogs .form-select ul li a {
  color: #6c757d;
}

.block-views-exposed-filter-blockblog-block-all-blogs .form-select ul li:hover,
.block-views-exposed-filter-blockblog-block-all-blogs .form-select ul li a:hover {
  background-color: #6c757d;
}

.notify-drop li.unread {
  border-left: 4px solid #333333;
}

.nav-tabs li .nav-link {
  background: #eaf1ff;
  border-color: #eaf1ff;
}

.nav-tabs {
  border-bottom: 1px solid #eaf1ff;
}
